.news {
  margin: 65px 16px 51px;
}

.news__title {
  margin: 0;
  margin-bottom: 15px;

  font-family: "SF UI Display", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .news {
    margin: 0;
    margin-bottom: 75px;
  }
}
