.page-footer {
  display: none;
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 195px;
    padding: 26px 135px 10px;

    background-color: #F7F7F7;
  }

  .page-footer___title {
    font-size: 28px;
    line-height: 37px;
  }

  .page-footer__copyright {
    width: 100%;
    align-self: flex-end;
    margin: 0;
    padding-top: 8px;

    font-family: "Proxima Nova", "Arial", sans-serif;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    color: $black;
    opacity: 0.2;

    border-top: 1px solid $black;
  }
}
