.reviews {
  margin: 0 16px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .reviews {
    margin: 0;
  }

  .reviews__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
