.site-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-list__item {
  position: relative;
  margin-bottom: 20px;
}

.site-list__link {
  display: block;
  padding: 18px 52px 18px 16px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $pagination-color;
  text-align: left;

  background-color: $nav-link-color;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 25px;

    border: solid $arrow-icon-color;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 153px 135px 0;

    &--footer {
      margin-top: 32px;
      margin-bottom: 46px;

      .site-list__item {
        margin: 0;
      }
    }
  }

  .site-list__link {
    padding: 0;

    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;

    background-color: transparent;

    &::before {
      display: none;
    }
  }
}
